.gallery {
    background-color: var(--color-lightgray);
}

.category__header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.category__link {
    align-self: flex-start;
    padding: 1rem;
    background-color: var(--color-blue-100);
    color: var(--color-white);
    border: solid thin transparent;
  }
  
  .category__link:hover {
    background-color: var(--color-white);
    color: var(--color-blue-100);
    border-color: var(--color-blue-100);
  }

  .card__btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .card__edit, 
  .card__delete {
    padding: .5rem;
    color: var(--color-white);
    border-radius: 10px;
  }

  .card__edit {
    background-color: green;
  }

  .card__delete {
    background-color: red;
  }

  @media screen and (min-width: 768px){
    .category__header {
        flex-direction: row;
        align-items: center;
    }
  }