/* Reset CSS */

:root {
  --color-white: #ffffff;
  --color-black: #464646;
  --color-gray: #a2a2a2;
  --color-lightgray: #f5f5f5;
  --color-blue-100: #2a7ae4;
  --color-blue-10: #1552a21a;
  --color-blue-50: #1552a280;
  --background: #e5e5e5;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--color-black);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.5;
}
