.content__btn {
  padding: 1rem 2rem;
  border: thin solid var(--color-blue-100);
  color: var(--color-white);
  background-color: var(--color-blue-100);
  cursor: pointer;
}

.content__btn:hover {
  color: var(--color-blue-100);
  background-color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .content__btn {
    font-size: 1.15rem;
  }
}
