<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alura Geek</title>

    <!-- Raleway - Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- FontAwesome - Iconos-->
    <script src="https://kit.fontawesome.com/ed2ba7d635.js" crossorigin="anonymous"></script>

    <!-- Importacion Estilos CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>

<body>

    <!-- Seccion Header -->
    <header class="header">
        <div class="container">
            <a href="#" class="header__logo">
                <img src="../assets/img/Logo.png" alt="Logo Alura Geek">
            </a>
            <form class="header__search-input d-none"><!--Lo Oculte en mobile-->
                <input type="text" placeholder="¿Qué deseas buscar?">
                <a href="#">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </form>
            
            <div class="header__login">
                <a href="../index.html" class="header__login-link">Volver</a>
            </div>
            
            <div class="header__search-icon">
                <a href="#" class="header__search-link">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </div>
        </div>
    </header><!-- Seccion Header -->

    <main>
        
        
        

        <!-- Seccion RodaPie-->
        <section class="contact">
            <div class="container">
                <article class="contact__nav">
                    <div class="contact__logo">
                        <img src="../assets/img/Logo.png" alt="Logo Alura Geek">
                    </div>
                    <nav class="contact__menu">
                        <a href="#" class="contact__link">Quienes somos</a>
                        <a href="#" class="contact__link">Politica de privacidad</a>
                        <a href="#" class="contact__link">Programa de afiliados</a>
                        <a href="#" class="contact__link">Nuestras tiendas</a>
                        <a href="#" class="contact__link">Quiero ser franquiciado</a>
                        <a href="#" class="contact__link">Anuncie aqui</a>
                    </nav>
                </article>
                <form class="contact__form">
                    <h3 class="form__title">Hable con nosotros</h3>
                    <div class="form__field">
                        <label for="nombre">Nombre</label>
                        <input class="form__input" id="nombre" type="text" placeholder="Gustavo Miño">
                    </div>
                    <div class="form__field">
                        <label for="message">Mensaje</label>
                        <textarea class="form__input" name="message" id="message" cols="30" rows="5" placeholder="Escribe tu mensaje..."></textarea>
                    </div>
                    <a href="#" class="form__btn">Enviar Mensaje</a>
                </form>
            </div>
        </section><!-- Seccion RodaPie-->

    </main>

    <!-- Seccion Footer -->
    <footer class="footer">
        <small>&copy; 2022 | Desarollado por Gustavo Miño</small>
    </footer><!-- Seccion Footer -->

    <script src="app.js" type="module"></script>
</body>

</html>